<mat-toolbar color="primary">
    <span [routerLink]="['/']">JordiOverflow</span>
    <span class="space"></span>
    <button *ngIf="!isLoggedIn()" [routerLink]="['/signin']"  mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>

  <div *ngIf="isLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="menu">  
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        {{ fullName() }}
      </button>
      <button mat-menu-item (click)="logout()">
        Cerrar sesión
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>